*{margin:0; padding:0};

.app{
  height: 100vh;
  // height: 800px;
  // overflow-y: auto;
  // &::-webkit-scrollbar {
  //   width: 1rem;
  // }
  // /* Track */
  // &::-webkit-scrollbar-track {
  //   background-color: #eee;
  //   box-shadow: inset 0 0 5px #888;
  // }
  // /* Handle */
  // &::-webkit-scrollbar-thumb {
  //   background-image: linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #FF0066 100%);
  //   border: 2px solid transparent;
  //   background-clip: padding-box;
  //   border-radius: 2rem;
  //   outline: none;
  // }
  // /* Handle on hover */
  // &::-webkit-scrollbar-thumb:hover {
  //   background-image: linear-gradient(-225deg, #65379B 0%, #886AEA 53%, #6457C6 100%);
  // }
  h1{
    text-align: center;
    margin: 2rem;
  }
  .tabs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
    button{
      padding: 0.5rem 1rem;
      border-radius: 0.3rem;
      font-size: 1rem;
      border: 2px solid #aaa;
      cursor: pointer;
    }
  }
}

.container{
  display: grid;
  gap: 1rem;
  // grid-template-columns: repeat(6,1fr);
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  @media screen and (max-width:960px) {
    grid-template-columns: repeat(auto-fill,minmax(260px,1fr));
  }
  @media screen and (max-width:768px) {
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
  }
  .movie-card{
    // display: inline-block;
    // width: 200px;
    position: relative;
    cursor: pointer;
    img{
      width: 100%;
      aspect-ratio: 2/3;
      object-fit: cover;
      display: block;
    }
    .overlay{
      width: 100%; height: 100%;
      background-color: rgba($color: #000, $alpha: 0.9);
      position: absolute;
      top:0; left: 0;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: 0.5s;
      font-size: 1.2rem;
      text-align: center;
      word-break: keep-all;
      padding: 1rem;
      box-sizing: border-box;
      &:hover{
        opacity: 1;
      }
    }
  }
}

.movie-detail{
  width: 100%; height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.8);
  position: fixed;
  top:0; left: 0;
  .popup{
    width: 500px;
    background-color: #fff;
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    padding: 280px 40px 90px;
    box-sizing: border-box;
    box-shadow: 0 0 60px #000;
    span.close-icon{
      position: absolute;
      bottom: 40px; left: 50%;
      transform: translateX(-50%);
      cursor: pointer;
    }
    .popup-title{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 2rem 0 1rem;
      .title-left{
        width: 85%;
      }
      h2{
        font-size: 2.2rem;
        line-height: 1.2;
        margin-bottom: 4px;
      }
      .release-date{
        font-size: 1rem;
        font-weight: 600;
        span{
          font-weight: 400;
        }
      }
    }
    p{
      font-size: 0.8rem;
    }
  }
}

@mixin circlebar_style($w,$h,$c){
  width: $w; height: $h;
  background-color: $c;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circlebar{
  @include circlebar_style(40px, 40px, #fff);
  .progress{
    @include circlebar_style(88%, 88%, #97ee14);
    .label{
      @include circlebar_style(88%, 88%, #fff);
      p{
        font-weight: 500;
      }
    }
  }
}

.lib-circle{
  width: 50px;
  text-align: center;
  font-weight: 900;
  .circle-txt{
    font-size: 0.8rem;
    color: #aaa;
    font-weight: 400;
  }
}

.genre-list{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eee;
  padding: 1rem;
  box-sizing: border-box;
  .list-wrap{
    margin: 1rem auto;
    button{
      border: 1px solid #aaa;
      background-color: transparent;
      height: 40px;
      line-height: 40px;
      padding: 0 1rem;
      font-size: 1rem;
      border-radius: 1rem;
      margin: 0.4rem;
      cursor: pointer;
      box-sizing: border-box;
      &:hover, &.active{
        border: 1px solid tomato;
        color:#fff;
        background-color: tomato;
      }
    }
  }
  .search-btn{
    width: 50%;
    font-size: 1rem;
    background-color: #222;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.3rem;
    margin-bottom: 2rem;
  }  
}